<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Seance Test</title>
    <!-- <script src="../libraries/socketClient.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <!--     <script src="../libraries/p5.dom.js" type="text/javascript"></script> -->
    <!-- <script src="../libraries/p5.sound.js" type="text/javascript"></script> -->
    <!-- <script src="../libraries/p5.collide2d.min.js" type="text/javascript"></script> -->
    <script src="/socket.io/socket.io.js"></script>

    <style>
      body {
        background-color: black;
      }
      button {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    hello john
    <script>
      const socket = io();
      var words = [];

      var PlayerData = {};

      // /Users/John/Desktop/NodeTests/spooky/assets/CAPTH.ttf
      //
      function preload() {}

      function setup() {
        createCanvas(windowWidth, windowHeight * 0.75);
        background(255);

        socket.emit('joinFromWeb');
      }

      function mouseDragged() {
        clear();
        background(0);
        noStroke();
        fill(20, 0, 175);
        ellipse(mouseX, mouseY, 36, 36);

        var data = {
          y: mouseY / windowHeight,
          x: mouseX / windowWidth,
        };

        socket.emit('movin', data);
      }

      function touchMoved() {
        clear();
        background(0);
        noStroke();
        // if(PlayerData.isGiest){
        //   fill(175,0,20);
        // }else{}
        fill(20, 0, 175);
        ellipse(mouseX, mouseY, 36, 36);

        var data = {
          y: mouseY / windowHeight,
          x: mouseX / windowWidth,
        };

        socket.emit('movin', data);
        return false;
      }

      function draw() {}
    </script>
  </body>
</html>
